/* Table of Content
-------------------------------------------------- */
.table-of-contents {

    ul,
    ol {
        list-style: none;
    }

    li {
        line-height: 1.6;
    }
}

.table-of-contents__title {
    font-family: "Roboto Mono", monospace;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 2.4rem 0 .4rem;
}



/* Inline list
-------------------------------------------------- */
.inine-list {
    display: flex;
    line-height: 1.6;

    a {
        padding-left: 10px;
    }
}