/* sections
-------------------------------------------------- */
.page-header {
    padding: 25px 0;
}

.straight-link {
    display: flex;
    text-decoration: none;
    align-items: center;
}

@media (min-width: 550px) {
    .page-header {
        padding: 70px 0 0;
    }
}