/* 
  -------------------------------------------------- */


/* Margin
  -------------------------------------------------- */
.utl-margin-top-30 {
    margin-top: 3rem;
}

.utl-margin-bottom-30 {
    margin-bottom: 3rem;
}

.utl-margin-top-60 {
    margin-top: 6rem;
}

.utl-margin-bottom-60 {
    margin-bottom: 6rem;
}

.utl-margin-vert-30 {
    margin: 3rem 0;
}

.utl-margin-vert-60 {
    margin: 6rem 0;
}




/* Padding
  -------------------------------------------------- */
.utl-padding-top-5 {
    padding-top: 5rem;
}

.utl-padding-bottom-10 {
    padding-bottom: 10rem;
}


/* Misc.
  -------------------------------------------------- */
.rtl {
    transform: scaleX(-1)
}